@using Microsoft.AspNet.Identity
@*@if (Request.IsAuthenticated)*@
@if (Session["UserRole"]?.ToString() == "admin" || Session["UserRole"]?.ToString() == "advertiser")
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + Session["UserName"] + "!", "Index", "Home", routeValues: null, htmlAttributes: new { title = "Home" })
            </li>
            @*<li><a href="javascript:document.getElementById('logoutForm').submit()">Kilépés</a></li>*@
            <li>
                @Html.ActionLink("Kilépés", "LogOff", "User")
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Regisztráció", "Create", "User", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Belépés", "Login", "User", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
